@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dd9d94;
  --secondary: #101357;
  --bluelight: #807dad;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--nanum-regular), sans-serif;
}

h1 {
  font-family: var(--nanum-bold), sans-serif;
}

.font-color {
  color: var(--bluelight);
}


strong {
  font-family: var(--nanum-extrabold), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-card {
  background: var(--secondary);
  color: var(--foreground);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
